<div class="questioning-container">
  <div class="title-bar">
    <h1>We have some questions for you. How would you like to discuss them?</h1>
  </div>
  <div class="scrollable-content">
    <div class="cards-container">
      <div class="card" (click)="navigateToQuestioningType('chat')">
        <div class="icon-container">
          <i class="fas fa-comments"></i>
        </div>
        <h2>Chat</h2>
        <div class="card-content">
          <p>Text-based communication</p>
        </div>
      </div>

      <div class="card" (click)="navigateToQuestioningType('voice')">
        <div class="icon-container">
          <i class="fas fa-phone-alt"></i>
        </div>
        <h2>Voice call</h2>
        <div class="card-content">
          <p>Audio-based communication</p>
        </div>
      </div>

      <div class="card" (click)="navigateToQuestioningType('video')">
        <div class="icon-container">
          <i class="fas fa-video"></i>
        </div>
        <h2>Video call</h2>
        <div class="card-content">
          <p>Face-to-face communication</p>
        </div>
      </div>
    </div>
  </div>
</div>