<header class="top-bar">
  <img src="/avi.svg" alt="Logo" class="top-bar-logo" />
</header>
<div class="stepper-layout-container">
  <nav aria-label="Progress">
    @let step = currentStep$();
    <ol role="list" class="overflow-hidden">
      @for (stepDef of steps; track $index) {
      <li class="relative pb-10" [ngClass]="{ 'pb-10': $index < steps.length - 1 }">
        @if ($index < steps.length - 1) { <div class="absolute top-4 left-4 mt-0.5 -ml-px h-full w-0.5"
          [ngClass]="step > $index ? 'bg-indigo-600' : 'bg-gray-300'" aria-hidden="true">
</div>
}
<button class="group relative flex items-start" [attr.aria-current]="step === $index ? 'step' : null"
  [disabled]="$index > step" (click)="$index < step && goToStep($index)" [class.cursor-pointer]="$index < step"
  [class.cursor-not-allowed]="$index > step" [class.cursor-default]="$index === step">
  <span class="flex h-9 items-center">
    <span class="relative z-10 flex size-8 items-center justify-center rounded-full"
      [ngClass]="step > $index ? 'bg-indigo-600 group-hover:bg-indigo-800' : step === $index ? 'border-2 border-indigo-600 bg-white' : 'border-2 border-gray-300 bg-white'">
      @if (step > $index) {
      <!-- Tick for completed step -->
      <svg class="size-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd"
          d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
          clip-rule="evenodd" />
      </svg>
      }
      @if (step === $index) {
      <span class="size-2.5 rounded-full bg-indigo-600"></span>
      }
      @if (step < $index) { <span class="size-2.5 rounded-full bg-transparent"></span>
    }
  </span>
  </span>
  <span class="ml-4 flex min-w-0 flex-col">
    <span class="text-sm font-medium"
      [ngClass]="step === $index ? 'text-indigo-600' : step > $index ? '' : 'text-gray-500'">{{ stepDef.label }}</span>
    <span class="text-sm text-gray-500">{{ stepDef.description() }}</span>
  </span>
</button>
</li>
}
</ol>
</nav>
</div>
<div class="main-content">
  <div class="content-left-column">
    @if (currentStep$() === 0) {
    <app-appointment-type (appointmentType)="appointmentType$.set($event)"></app-appointment-type>
    }
    @if (currentStep$() === 1) {
    <app-time-place-picker (appointmentInfo)="appointmentInfo$.set($event)"></app-time-place-picker>
    }
    @if (currentStep$() === 2) {
    <app-confirm-appointment [appointmentType]="appointmentType$()" [appointmentInfo]="appointmentInfo$()"
      (acceptAppointment)="confirmAppointment()" (declineAppointment)="declineAppointment()">
    </app-confirm-appointment>
    }
    @if (currentStep$() === 3) {
    <app-personal-information (goBack)="goToStep(2)" (completeBooking)="completePersonalInfo()">
    </app-personal-information>
    }
  </div>
</div>