<div class="stepper-layout-container">
  <nav aria-label="Progress">
    @let step = currentStep$();
    <ol role="list" class="overflow-hidden">
      @for (stepDef of steps; track $index) {
      <li class="relative pb-10" [ngClass]="{ 'pb-10': $index < steps.length - 1 }">
        @if ($index < steps.length - 1) { <div class="absolute top-4 left-4 mt-0.5 -ml-px h-full w-0.5"
          [ngClass]="step > $index ? 'step-line-active' : 'step-line-inactive'" aria-hidden="true">
</div>
}
<button class="group relative flex items-start" [attr.aria-current]="step === $index ? 'step' : null"
  [disabled]="$index > step" (click)="$index < step && goToStep($index)" [class.cursor-pointer]="$index < step"
  [class.cursor-not-allowed]="$index > step" [class.cursor-default]="$index === step">
  <span class="flex h-9 items-center">
    <span class="relative z-10 flex size-8 items-center justify-center rounded-full"
      [ngClass]="step > $index ? 'step-indicator-active' : step === $index ? 'step-indicator-current' : 'step-indicator-inactive'">
      @if (step > $index) {
      <!-- Tick for completed step -->
      <svg class="size-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd"
          d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
          clip-rule="evenodd" />
      </svg>
      }
      @if (step === $index) {
      <span class="size-2.5 rounded-full step-dot-current"></span>
      }
      @if (step < $index) { <span class="size-2.5 rounded-full bg-transparent"></span>
    }
  </span>
  </span>
  <span class="ml-4 flex min-w-0 flex-col">
    <span class="text-sm font-medium"
      [ngClass]="step === $index ? 'step-text-current' : step > $index ? '' : 'step-text-inactive'">{{ stepDef.label
      }}</span>
    <span class="text-sm text-gray-500">{{ stepDef.description() }}</span>
  </span>
</button>
</li>
}
</ol>
</nav>
</div>
<div class="main-content">
  <div class="content-column">
    @if (currentStep$() === 0) {
    <app-appointment-type (appointmentType)="appointmentType$.set($event)"></app-appointment-type>
    }
    @if (currentStep$() === 1) {
    <app-time-place-picker [appointmentType]="appointmentType$()" (appointmentInfo)="handleAppointmentInfoSet($event)">
    </app-time-place-picker>
    }
    @if (currentStep$() === 2) {
    <app-relevant-documents (goBack)="goToStep(1)" (continueToNext)="completeRelevantDocuments()">
    </app-relevant-documents>
    }
    @if (currentStep$() === 3) {
    <app-personal-information (goBack)="goToStep(2)" (completeBooking)="completePersonalData()">
    </app-personal-information>
    }
    @if (currentStep$() === 4) {
    <div class="google-fit-redirect">
      <h2>Connecting to Google Fit</h2>
      <p>You're being redirected to connect your Google Fit account...</p>
    </div>
    }
  </div>
</div>